Source: prunos-theme-stretch
Section: x11
Priority: optional
Maintainer: jaka <jaka@live.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/prunos/

Package: prunos-theme-stretch
Architecture: all
Provides: mate-themes, mate-icon-theme
Conflicts: mate-themes, mate-icon-theme
Depends: dmz-cursor-theme, gtk2-engines
Description: PrunOS theme for the MATE Desktop
 This package contains theme for the PrunOS MATE Desktop Environment.
